html, body {
	background-color: white;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: center;
}

#kontener {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-color: #F9E04B;
	vertical-align: middle;
	border: 2px;
	border-style: solid;
}

#NAGLOWEK {
	background-color:yellow;
	height: 250px;
	text-align: center;
	border-bottom: solid 2px;
}
#MENU{
	text-align: center;
}


#STOPKA {
	border-top: solid 2px;
	height: 50px;
	clear: both;
	width: 100%;
	background-color: yellow;
}